<!DOCTYPE html>
<html lang="en" ng-App = "toDoApp">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <title>ToDoList</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.js"></script>
    <script src="js/toDoList.js"></script>
  </head>
  <body ng-controller="ToDoCtrl">
    <div>
      <h1>todos</h1>
    </div>
    <section id="toDoApp">
      <header id="header">
          <div id="toggle-all" class="{{toggleAllStyle}}" ng-click = "toggleAll()">
            <i class="fas fa-chevron-down"></i>
          </div>
          <div id="input_div">
            <input type="text" id="toDo_input" placeholder="What needs to be done?" autofocus
            ng-keypress="addNewToDo($event)" ng-model="inputVal">
          </div>
      </header>
      <section id="main">
        <div id="toDoList" style="border-top:1px solid #E6E6E6">
          <div class="toDo" ng-repeat="item in toDo | filter : {done : showCondition}"
            ng-mouseenter="hover = true" ng-mouseleave="hover = false">
            <div ng-class = "checkDivStyle(item.done)" ng-click = "toggleDone(item.id)" ng-model="item.done">
              <i ng-class = "checkStyle(item.done)"></i>
            </div>
            <div ng-class= "textDivStyle(item.done)" ng-hide="item.inEditProcess" ng-dblclick = "editToDo(item.id)" >
              {{item.text}}
            </div>
            <div ng-class= "textDivStyle(item.done)" ng-hide="!item.inEditProcess" ng-mouseenter="hover = false">
              <input type="text" value="{{item.text}}" ng-blur = "editToDo(item.id)" ng-model="item.text"/>
            </div>
            <div class="toDo_delete" ng-class="{hover : hover}" ng-click = "deleteToDo(item.id)">
              <i class="fas fa-times"></i>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="count" ng-hide="getActiveCount() == 0">
          {{getActiveCount()}} items left
        </div>
        <div class="buttons">
          <button ng-click = "changeShowCondition()">All</button>
          <button ng-click = "changeShowCondition(false)">Active</button>
          <button ng-click = "changeShowCondition(true)">Completed</button>
          <button ng-show="doneToDoExist()" ng-click = "clearCompleted()">Clear completed</button>
        <div>
      </footer>
    </section>
  </body>
</html>
